*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  width: 100%;
  background-image: url("images/background.png");
  background-position: center;
  background-size: cover;
  padding: 20px 8%;
  position: relative;   /* ⭐ REQUIRED */
}

.logo{
  width: 140px;
  display: block;
  position: relative;
  z-index: 10;          /* ⭐ BRINGS IT ABOVE BG */
}
.content{
  top:50%;
  position:absolute;
  transform:translateY(-50%);
  color:#fff
}
.content h1{
  font-size: 64px;
  font-weight: 500;
}
.content h1 span{
color:#ff375f
}
.content button{
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  padding: 12px 25px;
  color: #fff;
  display: flex;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
}

.content button img{
  width:15px;
  margin-left:10px;


}
.launch-time{
  display: flex;
  gap: 20px;          /* spacing between items */
}

.launch-time div{
  flex-basis: 100px;
  text-align: center; /* keeps numbers aligned */
}
.rocket{
  width: 250 px;
  position:absolute;
  right:10%;
  bottom: 0;
  animation: rocket 4s linear infinite;
}
@keyframes rocket {
  0%{
    bottom:0;
    opacity:0;
  }
  100%{
    bottom:100%;
    opacity:1;
  }
  
}