*{
  margin:0;
  padding:0;
  font-family:'poppins',sans-serif;
  box-sizing: border-box;
}
.container{
  height:100vh;
  width:100%;
  background-image: url(images/background.png);
  background-position: center;
  background-size: center;
  padding: 0 8%;
}